<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Log file target -->
    <target xsi:type="File" name="file" fileName="app.log" />
  </targets>

  <rules>
    <!-- Write logs of level Warn and above to the log file -->
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>